<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QUADPAY_JS_URL</key>
	<string>https://cdn.us.zip.co/v1/quadpay.js</string>
	<key>CDN_URL</key>
	<string>https://qpmerchconfigsprd.blob.core.windows.net/</string>
	<key>GATEWAY_URL</key>
	<string>https://gateway.us.zip.co/</string>
</dict>
</plist>
