//
//  DebugSettings.xcconfig
//  QuadPaySDK
//
//  Created by Alex Lane on 10/3/22.
//  Copyright © 2022 QuadPay. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-QuadPaySDK/Pods-QuadPaySDK.release.xcconfig"

SEGMENT_WRITE_KEY = ""
